  :root{
      /* background-image: url(./Assets/Nqoh.jpeg);    */
}
 
 .navbar{
    height: 5rem;
    width: 100vw;
    max-width:75rem ;
    margin: 0 auto;
    padding :1rem 2 rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    color: rgb(38, 163, 132) ;
    padding-top: 18px;

}
.MenuList{
    margin: 2rem;
    cursor: pointer;
    
}
.MenuList :hover{
    color: rgb(38, 163, 132);
    padding-bottom: 0.5rem;
    border-bottom:2px solid  rgb(38, 163, 132) ; 
}


.MenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
}
.MenuButton{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    margin-right: 17px;
    /* border-style:ridge */
}
#Intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    margin:0 auto;
    overflow:hidden ;
    position: relative;
}
  .card-img-top{
    margin-left: 800px;
    width: 50%;
    object-fit: cover;
    height: 30vh;
    z-index: -1;
    /* margin:10; */
    padding: 20px;
    padding-bottom: 50px;
    position: absolute;
    top: -1rem;
    border:10px;
    border-radius: 300px; 
    margin-right: 450px;
    top: -10rem;
    right: 0;
    z-index: -3;
    object-fit: cover;
    /* height: 80vh; */
    width: 40%;
    padding: 60px;
    padding-bottom: 50px;
    margin: 30px;
  }
    
    
     
    
    
 
.HireBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;  
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

 .IntroContent  {
        text-decoration: solid;
        color:white;
        display: flex;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        font-size: 4rem;
        font-weight: 600;
        flex-direction: column;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 100px;
        



 }
 .hello{
    font-size: 1.7rem;
    font-family: 100;

 } 
 .IntroName{
    color:rgb(38, 163, 132);
 }
 .IntroParagraph{
    font-size: medium;
    font-weight: 400;
 } 
 @media screen and(max-width:840px) {
    .IntroContent{
        font-size: 10vw;
    }
    .hello{
    font-size: 4.5vw;
    }
 }
  
  .paragraph-container {
    display: flex;
    position: relative;
    text-align: left;
    border-style: groove;
    height: 80vh;
    gap: 0px;
  }
  .Asset {

        background-position: left;
        background-size: cover;
        height: 300px;
        width: 50%;
        background-position: left;
        background-size: cover;
        padding-left: 5px;
      
  }
  .card-img-top{
    width: 50%;
    height: 65vh;
    padding:2rem;
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  
  .about{
    align-items: center;
    justify-content: center;
    color:rgb(38, 163, 132) ;
    text-decoration: solid;
    padding-top: 1rem;
    
 }
 
      .paragraph {
        text-align: left;
        text-indent: 0%;
        align-items:center;
        display: inline-block;
        margin-right: 50px;
        margin: 0;
        
        
         
    
        
        
  }
      .content {
        flex: 2;
        padding-left: 10px;
        position:relative;
        align-items: center;
        padding: 20px 110px 4px 102px;
        text-align: center;
        padding-bottom: 10px;
        text-align: center;
        align-items: center;
        gap:1px;
        text-justify:inter-word;
        height: 500px;
        margin-left: 10px;
        padding-top: 50px;
      }
      .topic{
        align-items: center;
        text-align: center;
        color: rgb(38, 163, 132);
      }
      .connect{
        height: 80vh;
      }
      .skills{
        height: 100vh;
        text-align: center;
        color: rgb(38, 163, 132);
        border: 20px;
        padding-top: 1rem;
    
      }
          

    
      
  

  
  
   
     

